*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}
h1 {
  text-align: center;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 64px;
  transition: all 0.3s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.tile::after {
  content: "";
  transform: translateZ(2px);
  position: absolute;
  inset: 2px;
  background-image: var(--tile-image);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;

}

.tile::before {
  content: "";
  transform: translateZ(1px);
  position: absolute;
  inset: 0;
  background-color: #fb1;
  border-radius: 10px;
}

.tile.revealed {
  transform: rotateY(0deg);
}

.tile.matched::before {
  background: #14B82A;
}

.mistakes {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.you-win {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-block: 2rem;
  color: #14B82A;
}
.you-win h2 {
  margin-bottom: 1rem;
}
.you-win.hidden {
  opacity: 0;
  pointer-events: none;
}

#restart {
  border: none;
  background: #14B82A;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;

}

#restart:hover {
  background: #0e9b5e;
}